{
    "trailingComma": "es5",
    "tabWidth": 4,
    "useTabs": false,
    "semi": true,
    "singleQuote": false,
    "jsxSingleQuote": true,
    "jsxBracketSameLine": false,
    "arrowParens": "always",
    "endOfLine": "lf",
    "bracketSpacing": true,
    "proseWrap": "preserve",
    "htmlWhitespaceSensitivity": "strict"
}
