<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>网易云音乐</title>
    <% if (htmlWebpackPlugin.options.nodeModules) { %>
    <!-- Add `node_modules/` to global paths so `require` works properly in development -->
    <script>
      require('module').globalPaths.push('<%= htmlWebpackPlugin.options.nodeModules.replace(/\\/g, '\\\\') %>')
    </script>
    <% } %>
    <style>
      * {
        padding: 0;
        margin: 0;
        list-style: none;
      }
      @keyframes fade {
        0% {
          opacity: 1;
        }
        100% {
          opacity: 0;
        }
      }
      .welcome {
        position: fixed;
        left: 0;
        z-index: 999998;
        top: 0;
        right: 0;
        bottom: 0;
        overflow: hidden;
        animation: fade .3s ease-in-out reverse;
      }
      .welcome .welcome-img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
      .welcome .welcome-img.fade {
        animation: fade 1s ease-in-out both;
      }
      @keyframes fade {
        0% {
          opacity: 1;
        }
        100% {
          opacity: 0;
        }
      }
    </style>
  </head>
  <body>
    <div id="app">
    </div>
    <div id="welcome" class="welcome">
      <img src="static/images/welcome.png" class="welcome-img" />
    </div>
    <!-- Set `__static` path to static files in production -->
    <% if (!process.browser) { %>
    <script>
      if (process.env.NODE_ENV !== "development")
        window.__static = require("path")
          .join(__dirname, "/static")
          .replace(/\\/g, "\\\\");
    </script>
    <% } %>
    
    <!-- webpack builds are automatically injected -->
  </body>
</html>
